In [3]:
import pandas as pd
import math

def get_entropy(data):
    entropy = 0
    total = sum(data)
    for i in data:
        entropy -= i/total * math.log(i/total, 2)
    return round(entropy, 4)

simpson_data = pd.read_csv('./data/simpson.csv',
                           names=["person", "hair_length", "Weight", "age", "class"], encoding='utf-8')
display(simpson_data)
# print(get_entropy([4,5]))
# Use Hair_length

k = 5   #기준점
t_hair = simpson_data[simpson_data['hair_length']<= k]   #k보다 작은 행추출
f_hair = simpson_data.drop(t_hair.index)  #s이외의 값

# 선별된 데이터 분류
count_tM = len(t_hair[t_hair['class']=='M'])
count_tF = len(t_hair[t_hair['class']=='F'])
t_entropy = get_entropy([count_tM,count_tF])

count_fM = len(f_hair[f_hair['class']=='M'])
count_fF = len(f_hair[f_hair['class']=='F'])
f_entropy = get_entropy([count_fM,count_fF])

# 전체
total = len(simpson_data)
# print("total",total)
M = simpson_data[simpson_data['class']=='M']
count_M = len(M)
F = simpson_data[simpson_data['class']=='F']
count_F = len(F)

entropy = get_entropy([count_M,count_F])

gain = 0
gain = entropy - (((count_tM+count_tF)/total)*t_entropy + ((count_fM+count_fF)/total)*f_entropy)
print("Gain result: ",round(gain,4))

   person  hair_length  Weight  age class
0   Homer            0     250   36     M
1   Marge           10     150   34     F
2    Bart            2      90   10     M
3    Lisa            6      78    8     F
4  Maggie            4      20    1     F
5     Abe            1     170   70     M
6   Selma            8     160   41     F
7    Otto           10     180   38     M
8  Krusty            6     200   45     M

Gain result:  0.0911